/*
	Presentation Styles
		None of these are needed. Infact once you get the gist i recommend you
		delete this and the index.html. They are just placeholders after all
*/

// 0. Variables Mixins Imports

	@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);
	@import '../sass/util/variables';
	@import '../sass/util/mixins';
	$green: #00995b;

// 1. Global ----------------------------------------------------
html, body, p {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 10px;
	font-weight: 300;
}
body {
	background: #ededed;
	font-family: monospace;
	font-size: 16px;
	text-align: center;
}

header {
	padding: 20px 0;
	background: #1c1c1c;
	text-align: center;
	color: #fff;
	a {
		padding: 2px 3px;
		color: #fff;
		text-decoration: none;
		border-bottom: 2px solid $green;
		transition: .1s ease-in-out;
		&:hover {
			background: $green;
		}
	}
	h1 {
		font-size: 2.75em;
	}
	h3 {
		font-size: 1.1em;
	}
	h5 {
		font-size: .8em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h6 {
		margin: 0;
	}
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
	header {
		padding: 10px 0;
		margin-bottom: 10px;
		background: #2c2c2c;
	}
}

p {
	padding: 10px;
	background: #ccc;
	font-size: .8em;
}

// 2. Classes ---------------------------------------------------

.green {
	color: $green;
}

[class^='row'] {
	div:nth-child(odd) {
		p {
			background: #ddd;
			color: #555;
		}
	}
	div:nth-child(even) {
		p {
			background: #aaa;
			color: #fff;
		}
	}
}

[class*='--padded'] {
	background: #2c2c2c;
}
