/*
  Simple Sass Grid
    v2.0.0
    Darryn Bourgeois
    www.Nyrrad.com
    4/1/2016

  Inspired by Chris Coyier
    @ https://css-tricks.com/dont-overthink-it-grids/
    Have since abandoned this approach though.
*/
/*
  Grid Structure and Styles
    names, sizing, gutters, column counts should all be manipulated by changing
    the variables in _variables.scss.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

/*
  Container class
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 85rem;
  overflow-x: hidden;
}

/*
  Row class
*/
[class^='row'] {
  position: relative;
}

[class^='row']:after {
  content: '';
  display: table;
  clear: both;
}

[class^='row'][class*='--gutters'] {
  margin-left: -0.3125rem;
  margin-right: -0.3125rem;
}

[class^='row'][class*='--padded'] {
  padding: 0 0.625rem 0.625rem;
}

[class^='row'][class*='--gutters'] [class*='sm-'], [class^='row'][class*='--gutters'] [class*='md-'], [class^='row'][class*='--gutters'] [class*='lg-'], [class^='row'][class*='--gutters'] [class*='hg-'] {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

[class^='row'][class*='--padded'] [class*='sm-'], [class^='row'][class*='--padded'] [class*='md-'], [class^='row'][class*='--padded'] [class*='lg-'], [class^='row'][class*='--padded'] [class*='hg-'] {
  padding-top: 0.625rem;
}

/*
  Column class generation
*/
[class*='sm-'], [class*='md-'], [class*='lg-'], [class*='hg-'] {
  width: 100%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

@media all and (min-width: 40rem) {
  .sm-1 {
    width: 25%;
  }
  .sm-2 {
    width: 50%;
  }
  .sm-3 {
    width: 75%;
  }
  .sm-4 {
    width: 100%;
  }
}

@media all and (min-width: 50rem) {
  .md-1 {
    width: 12.5%;
  }
  .md-2 {
    width: 25%;
  }
  .md-3 {
    width: 37.5%;
  }
  .md-4 {
    width: 50%;
  }
  .md-5 {
    width: 62.5%;
  }
  .md-6 {
    width: 75%;
  }
  .md-7 {
    width: 87.5%;
  }
  .md-8 {
    width: 100%;
  }
}

@media all and (min-width: 64rem) {
  .lg-1 {
    width: 8.333333%;
  }
  .lg-2 {
    width: 16.666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.333333%;
  }
  .lg-5 {
    width: 41.666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.333333%;
  }
  .lg-8 {
    width: 66.666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.333333%;
  }
  .lg-11 {
    width: 91.666667%;
  }
  .lg-12 {
    width: 100%;
  }
}

@media all and (min-width: 85rem) {
  .hg-1 {
    width: 5.555556%;
  }
  .hg-2 {
    width: 11.111111%;
  }
  .hg-3 {
    width: 16.666667%;
  }
  .hg-4 {
    width: 22.222222%;
  }
  .hg-5 {
    width: 27.777778%;
  }
  .hg-6 {
    width: 33.333333%;
  }
  .hg-7 {
    width: 38.888889%;
  }
  .hg-8 {
    width: 44.444444%;
  }
  .hg-9 {
    width: 50%;
  }
  .hg-10 {
    width: 55.555556%;
  }
  .hg-11 {
    width: 61.111111%;
  }
  .hg-12 {
    width: 66.666667%;
  }
  .hg-13 {
    width: 72.222222%;
  }
  .hg-14 {
    width: 77.777778%;
  }
  .hg-15 {
    width: 83.333333%;
  }
  .hg-16 {
    width: 88.888889%;
  }
  .hg-17 {
    width: 94.444444%;
  }
  .hg-18 {
    width: 100%;
  }
}
