/*
	Presentation Styles
		None of these are needed. Infact once you get the gist i recommend you
		delete this and the index.html. They are just placeholders after all
*/
@import url(http://fonts.googleapis.com/css?family=Oxygen:700,400,300);
html, body, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 300;
}

body {
  background: #ededed;
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

header {
  padding: 20px 0;
  background: #1c1c1c;
  text-align: center;
  color: #fff;
}

header a {
  padding: 2px 3px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00995b;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

header a:hover {
  background: #00995b;
}

header h1 {
  font-size: 2.75em;
}

header h3 {
  font-size: 1.1em;
}

header h5 {
  font-size: .8em;
}

header h5:last-child {
  margin-bottom: 0;
}

header h6 {
  margin: 0;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

section header {
  padding: 10px 0;
  margin-bottom: 10px;
  background: #2c2c2c;
}

p {
  padding: 10px;
  background: #ccc;
  font-size: .8em;
}

.green {
  color: #00995b;
}

[class^='row'] div:nth-child(odd) p {
  background: #ddd;
  color: #555;
}

[class^='row'] div:nth-child(even) p {
  background: #aaa;
  color: #fff;
}

[class*='--padded'] {
  background: #2c2c2c;
}
