/*
  Grid Structure and Styles
    names, sizing, gutters, column counts should all be manipulated by changing
    the variables in _variables.scss.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

/*
  Container class
*/
.#{map-get($container, name)} {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: #{map-get($container, max-width)};
  overflow-x: hidden;
}

/*
  Row class
*/
[class^='#{map-get($row, name)}'] {
  position: relative;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &[class*='--gutters'] {
    margin-left: (map-get($gutters, column) / 2) * -1;
    margin-right:(map-get($gutters, column) / 2) * -1;
    @each $name, $val in $columns {
      @if map-has-nested-keys($columns, $name, count) == true {
        [class*='#{map-deep-get($columns, $name, prefix)}#{map-get($grid, separator)}'] {
          @extend %column-gutters;
        }
      }
    }
  }
  &[class*='--padded'] {
    padding: 0 map-get($gutters, column) map-get($gutters, row);
    @each $name, $val in $columns {
      @if map-has-nested-keys($columns, $name, count) == true {
        [class*='#{map-deep-get($columns, $name, prefix)}#{map-get($grid, separator)}'] {
          @extend %column-padded;
        }
      }
    }
  }
}

// Placeholder classes for Row. Used to conserve space.
%column-gutters {
  padding-left: (map-get($gutters, column) / 2);
  padding-right: (map-get($gutters, column) / 2);
}

%column-padded {
  padding-top: map-get($gutters, row);
}

/*
  Column class generation
*/

// Placeholder classes for column. Used to conserve space.
%column-placeholder {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}

@each $name, $val in $columns {
  @if map-has-nested-keys($columns, $name, count) == true {
    @if map-has-nested-keys($columns, $name, prefix) {
      [class*='#{map-deep-get($columns, $name, prefix)}#{map-get($grid, separator)}'] {
        @extend %column-placeholder;
      }
      @include breakpoint($name) {
        @for $i from 1 through map-deep-get($columns, $name, count) {
          .#{map-deep-get($columns, $name, prefix)}#{map-get($grid, separator)}#{$i} {
            width: (100% / (map-deep-get($columns, $name, count))) * $i;
          }
        }
      }
    } @else {
      @warn "'count' set, but No 'prefix' value set for #{$name} in the $columns map. Ignoring class creation.";
    }
  } @else {
    @warn "No 'count' value set for #{$name} in the $columns map. Ignoring class creation.";
  }
}
