/// Fetch nested keys
/// @author Hugo Giraudel
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to fetch
/// @return {*}
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

/// Test if map got all `$keys` nested with each others
/// @author Hugo Giraudel
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to test
/// @return {Bool}
@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }
  @return true;
}

/// Update a key deeply nested
/// @author Hugo Giraudel
/// @param {Map} $map - Map to update
/// @param {Arglist} $keys - Keys to access to value to update
/// @param {*} $value - New value (last member of `$keys`)
/// @return {Map} - Updated map
@function map-deep-set($map, $keys.../*, $value */) {
  $map-list: ($map,);
  $result: null;

  @if length($keys) == 2 {
    @return map-merge($map, (nth($keys, 1): nth($keys, -1)));
  }

  @for $i from 1 through length($keys) - 2 {
    $map-list: append($map-list, map-get(nth($map-list, -1), nth($keys, $i)));
  }

  @for $i from length($map-list) through 1 {
    $result: map-merge(nth($map-list, $i), (nth($keys, $i): if($i == length($map-list), nth($keys, -1), $result)));
  }

  @return $result;
}

// Apply prefix to classes
//  Runs only if use-prefix: true in $grid map
@if map-get($grid, use-prefix) == true {
  // set container
  $container: map-merge($container, (name: #{map-get($grid, prefix)}#{map-get($grid, separator)}#{map-get($container, name)}));
  // set row
  $row: map-merge($row, (name: #{map-get($grid, prefix)}#{map-get($grid, separator)}#{map-get($row, name)}));
  // set columns
  @each $name, $val in $columns {
    @if map-has-nested-keys($columns, $name, prefix) {
        $columns: map-deep-set($columns, $name, prefix, #{map-get($grid, prefix)}#{map-get($grid, separator)}#{map-deep-get($columns, $name, prefix)});
    }
  }
}
